<?xml version='1.0' encoding='ISO-8859-15' standalone='no'?>

<!DOCTYPE Interprete>


<Interprete xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
            xsi:noNamespaceSchemaLocation="iml.xsd">
 <Nombre>
  <NombreC>Bruce Springsteen</NombreC>
  <Id>sdfryghuie</Id>
 </Nombre>
 <Nacionalidad>americano</Nacionalidad>
 
 <Album tipo="nuevo">
  <NombreA>Born to run</NombreA>
  <Año>2000</Año>
  <Cancion estilo="pop">
    <NombreT>Thunder Road</NombreT>
    wind blow back
    <Duracion>04:45</Duracion>
  </Cancion>
   <Cancion estilo="balada">
    <NombreT>Night</NombreT>
    Good
    <Duracion>04:15</Duracion>
    <Version>
       <Nombre>
         <NombreC>Joaquín Sabina</NombreC>
         <Id>sdfryghuie</Id>
       </Nombre>
      <IML>sabina.xml</IML>
    </Version>
  </Cancion>
  <Cancion estilo="rock">
    we all
    <NombreT>Born to run</NombreT>
    <Duracion>07:11</Duracion>
  </Cancion>
   <Cancion estilo="rock">
    <NombreT>She is the one</NombreT>
    <Duracion>04:37</Duracion>
    the only one
  </Cancion>
 </Album>
 
 <Album tipo="nuevo" temas="5">
  <NombreA>The river</NombreA>
  <Año>2001</Año>
  <Cancion estilo="balada">
    <NombreT>Jackson Cage</NombreT>
    This is
    <Duracion>05:02</Duracion>
  </Cancion>
   <Cancion estilo="rock">
    <NombreT>Hungry Heart</NombreT>
    And thirsty
    <Duracion>04:37</Duracion>
  </Cancion>
  <Cancion estilo="balada">
    main song
    <NombreT>The river</NombreT>
    <Duracion>03:56</Duracion>
  </Cancion>
   <Cancion estilo="country">
    <NombreT>Point Blank</NombreT>
    <Duracion>04:57</Duracion>
    good point
  </Cancion>
   <Cancion estilo="pop">
    <NombreT>Out in the street</NombreT>
    <Duracion>03:55</Duracion>
    You are
   </Cancion>
 </Album>
 
 <Album tipo="recopilatorio">
  <NombreA>Greatest Hits</NombreA>
  <Año>2002</Año>
  <Cancion estilo="balada">
    <NombreT>Badlands</NombreT>
    teh best
    <Duracion>04:07</Duracion>
  </Cancion>
   <Cancion estilo="rock">
    <NombreT>My Hometown</NombreT>
    This is
    <Duracion>03:40</Duracion>
  </Cancion>
  <Cancion estilo="balada">
    These are
    <NombreT>Better Days</NombreT>
    <Duracion>04:27</Duracion>
  </Cancion>
   <Cancion estilo="pop">
    <NombreT>Born in the USA</NombreT>
    <Duracion>05:35</Duracion>
    I was
  </Cancion>
 </Album>
 
 <Album tipo="mixto" temas="4">
  <NombreA>Wrecking Ball</NombreA>
  <Año>2003</Año>
  <Cancion estilo="balada">
    <NombreT>Wrecking Ball</NombreT>
    ruinas
    <Duracion>04:56</Duracion>
  </Cancion>
   <Cancion estilo="rock">
    <NombreT>We are alive</NombreT>
    always
    <Duracion>03:51</Duracion>
  </Cancion>
  <Cancion estilo="pop">
    this is the
    <NombreT>American Land</NombreT>
    <Duracion>04:30</Duracion>
  </Cancion>
   <Cancion estilo="rock">
    <NombreT>Easy money</NombreT>
    <Duracion>03:44</Duracion>
    we got
  </Cancion>
 </Album>
 
 <Album tipo="nuevo">
  <NombreA>Nebraska</NombreA>
  <Año>2004</Año>
  <Cancion estilo="balada">
    <NombreT>Nebraska</NombreT>
    cold
    <Duracion>06:20</Duracion>
    <Version>
      <Nombre>
         <NombreG>Siniestro Total</NombreG>
         <Id>sdfryghuii</Id>
      </Nombre>
      <IML>siniestro.xml</IML>
    </Version>
  </Cancion>
   <Cancion estilo="rock">
    <NombreT>Atlantic City</NombreT>
    money
    <Duracion>05:05</Duracion>
  </Cancion>
  <Cancion estilo="balada">
    military
    <NombreT>State Trooper</NombreT>
    <Duracion>06:54</Duracion>
  </Cancion>
   <Cancion estilo="pop">
    <NombreT>Reason to Believe</NombreT>
    <Duracion>05:04</Duracion>
    in all
    <Version>
      <Nombre>
         <NombreC>Joe Cocker</NombreC>
         <Id>sdfryghuiu</Id>
      </Nombre>
      <IML>cocker.xml</IML>
    </Version>
  </Cancion>
 </Album>
 
</Interprete>
